@import "tailwindcss";

@font-face {
  font-family: "WorkSans";
  src: url("/fonts/WorkSans-Regular.otf") format("opentype");
  font-weight: 400;
}

:root {
  --background: #343638;
  --background-light: #4e5052;
  --foreground: #f0f0f0;

  --card-color: #4e5052;
  --card-color-highlight: #5f6062;
  --card-color-shadow: #2a2c2d;

  --padding-small: 0.5rem;
  --padding-medium: 0.75rem;

  --rounding-small: 0.25rem;

  --gap-medium: 0.75rem;
}

@theme inline {
  --font-worksans: "WorkSans";

  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "WorkSans";
}
